* {
margin: 0px;
padding: 0px;
}

body{
	background-color: #f2f2f2;
}


.cabecera{
	background-color: #E63C2F;
	width:100%;
}

.cabecera img{
margin: 10px 0 10px 0; 
float: center;
}

.cabecera a {
font-family: arial;
color: white;
font-size: 18px;
}

.nav a:hover {
font-family: arial;
color: black;
}

.dropdown-menu a{
color: black;

}
/**************************************/
.container{
margin-bottom: 40px;
}

 h3{
font-family: arial;
 
}
#map{
margin-top: 40px;
}
/**************************************/
#Pie{
	width: 100%;
	background-color: #262626;
	font-family: Arial;
	color: white;
	padding: 10px;
}

#Pie h2{
	font-size: 25px;
	font-family: Arial;
}


#Pie a{
color: white;
}
